body{
    background-color: black;
}
.blink{
    position: relative;
    height: 70px;
    width: 175px;
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
    margin-top: -330px;
    margin-left: 665px;
    animation-name: vo;
    animation-duration: 0.5s;
    animation-iteration-count: 10;
    animation-fill-mode: backwards;
    transition: 0s;
    z-index: 2;
}


.head{
    position: relative;
    height: 280px;
    width: 280px;
    background-color: rgb(0, 0, 0);
    margin-top: 17%;
    margin-left: 40%;
    border-radius: 50%;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    animation-name: head;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}
.eyes1{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    margin-left: 55px;
    margin-top: 80px;
    border-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    animation-name: eyes1;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    z-index: 9;
    

}
.eyes2{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-left: 170px;
    margin-top: -55px;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation-name: eyes2;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    z-index: 9;
   
}
.mouth{
    position: relative;
    height: 40px;
    width: 100px;
    background-color: rgb(238, 143, 0);
    margin-top: 0px;
    margin-left: 0px;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    margin-top: -100px;
    margin-left: 46%;
    animation-name: user;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.mouthtp{ position: relative;
    height: 40px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-left: 0px;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 70%;
    margin-top: -60px;
    margin-left: 46%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: user;
}

.un{
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    border-color: blueviolet;
    color: white;
}
.pw{
    margin-top: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    border-color: blueviolet;
    color: white;
}
.form{
    margin-left: 670px;
    margin-top: 130px;
}

 @keyframes eyes1{
    0%{ border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;}
        10%{
            background-color: rgb(217, 24, 24);
        }
        11%{background-color: rgb(255, 255, 255)}
        20%{border-top-right-radius: 50%;
            border-bottom-left-radius: 50%;
            }
            100%{background-color: rgb(238, 0, 255)}
        100%{border-top-right-radius: 400%;
            border-bottom-left-radius: 400%;

        }
    }
    @keyframes eyes2{
        0%{ border-top-left-radius: 50%;
            border-bottom-right-radius: 50%}
            10%{
                background-color: rgb(217, 24, 24);
            }
            11%{background-color: rgb(255, 255, 255)}
            100%{background-color: rgb(238, 0, 255)}
            20%{border-top-left-radius: 50%;
                border-bottom-right-radius: 50%
            }
            100%{border-top-left-radius: 400%;
                border-bottom-right-radius: 400%
            }
        }
        @keyframes vo {
            100%{
                background-color: rgb(255, 255, 255);
            }
            
        }
        .mouth:hover{
            
                background-color: aliceblue;
        }
    
       
    



